**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/catalogs
**/data
**/results
**/sims
**/*.so
**/*.mod
**/*.npz
**/.ipynb_checkpoints
**/_autosummary
**/cellar
