**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/catalogs
**/data
**/results
**/*.so
**/*.mod
**/*.npz
**/.ipynb_checkpoints
**/_autosummary
**/cellar
**/refs
**/*make_sim_measurements*
**/*answer*
